/* Signup.css */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ca79;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-container h1 {
  font-size: 2em;
}

.input-container {
  width: 500px;
}

.form-margin {
  margin-top: 50px;
  margin-bottom: 10px;
}

.signup-button {
  width: 150px;
  margin: 30px;
}

.image-container {
  display: flex;
  gap: 10px;
}

.select-image {
  display: flex;
}

.image-style {
  width: 120px;
  height: 150px;
  object-fit: cover;
  background-color: #d9d9d9;
}
.on-click-signup {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  
}
