/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4ca79;
    margin-top: 50px;
    margin-right: 400px;
    margin-bottom: 50px;
    margin-left: 400px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-margin {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .form-margin-small {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .link-container {
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    flex-direction: row;
  }
  